.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border: 0.1px solid lightgrey;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  z-index: 999;

}
.header__left{
  display: flex;
}
.header__search{
padding: 10px;
display: flex;
align-items: center;
border-radius: 1px;
height:10px;
color: gray;
background-color: #eef3f8;
border-radius: 7px;
}

.header__search >input{
outline: none;
border: none;
background: none;

}
.logo {
  height: 40px;
 
}
.header__right{
  display: flex;
  
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    
  }
  .header__left, .header__right {
    display: block;
  }
 
}

@media only screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;

  }
  .header__left, .header__right {
    display: flex;
  }

  .header__right {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border: 0.1px solid lightgrey;
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 100%; 
    z-index: 999;
  }
}








