.post{
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.post__header{
    display: flex;
    margin-bottom: 8px;
}

.post__info{
    margin-left: 8px;
}

.post__info >p{
    font-size: 10px;
    color:gray;
}

.post__body{
    overflow-wrap:normal;
}

.post__info > h2{
    font-size: 12px;
}

.post__button{
    display: flex;
    justify-content: space-evenly;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    
   .post{
        padding: 8px; 
        margin-bottom: 6px; 
        border-radius: 6px; 
   }

   .post__header{
        margin-bottom: 6px; 
   }

   .post__info{
        margin-left: 6px; 
   }

   .post__info >p{
        font-size: 8px;  
   }

   .post__info > h2{
        font-size: 10px;  
   }
}

@media only screen 
and (max-device-width: 767px) {
    .post{
        padding: 6px; 
        margin-bottom: 4px; 
        border-radius: 4px; 
    }

    .post__header{
        margin-bottom: 4px; 
    }

    .post__info{
        margin-left: 4px; 
    }

    .post__info >p{
        font-size: 6px;  
    }

    .post__info > h2{
        font-size: 8px;  
    }
}
