.sidebar{
    top: 60px;
    flex: 0.4;
    border-radius: 8px;
    text-align: center;
    height: fit-content;
}

.sidebar__avatar{
    margin-bottom: 8px;
}

.sidebar__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    padding-bottom: 8px;
}

.sidebar__top > img{
    margin-bottom: -15px;
    width:100%;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.sidebar__stat{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

}

.sidebar__stat > p {
    color: grey;
    font-size: 11px;
    font-weight: 600;
}

.sidebar__top > h4{
    color: grey;
    font-size: 10px;
    padding: 8px;
}

.sidebar__top > h2{
    font-size: 14px;

}

.sidebar__stats{
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

}

.sidebar__statNumber {
   font-weight:bold; 
   color:#0a66c2 !important; 
   margin-left :50px
}

.sidebar__bottom{
   text-align:center; 
   padding :8px; 
   border :1px solid lightgrey; 
   background-color :white; 
   border-radius :8px; 
   margin-top :8px; 
}

.sidebar__recentItem{
   display:flex; 
   font-size :11px; 
   color :grey; 
   font-weight :bolder; 
   cursor :pointer; 
   padding :4px; 
   margin-bottom :4px; 
   
}

.sidebar__recentItem:hover {
   color :whitesmoke; 
   border-radius :8px; 
   cursor :pointer; 
   color :black; 
}

.sidebar__hash{
   margin-right :8px; 
   margin-left :4px; 
    
}

.sidebar__bottom > p{
   display:flex; 
    
   font-size :11px; 
   padding-bottom :8px; 
}


@media only screen and (max-device-width :768px)  {
    
 .sidebar{
        top :50px; 
        flex :0.3; 
        border-radius :6px; 
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 20px;
       margin-top: 10px;
        
 }

 .sidebar__avatar{
        margin-bottom :6px; 

 }

 .sidebar__top{
        padding-bottom :6px; 

 }

 .sidebar__top > img{
        margin-bottom :-10px; 
        height :40px; 
        
 }

 .sidebar__stat{
        margin-top :6px; 
        
 }

 .sidebar__stat > p {
        font-size :9px; 
        
 }

 .sidebar__top > h4{
        font-size :9px; 
        padding :6px; 
        
 }

 .sidebar__top > h2{
        font-size :12px;

 }

 .sidebar__stats{
        padding :6px; 
        margin-bottom :6px;

 }

 .sidebar__statNumber {
       font-weight:bold ;  
       color:#0a66c2 !important ;  
       margin-left :40 px
 }

 .sidebar__bottom{
       padding :6 px ;  
       border-radius :6 px ;  
       margin-top :6 px ;  
 }

 .sidebar__recentItem{
       font-size :9 px ;  
       padding :3 px ;  
       margin-bottom :3 px ;  

 }
 .sidebar__hash{
       margin-right :6 px ;  
       margin-left :3 px ; 

 }
 .sidebar__bottom > p{

       font-size :9 px ;  
       padding-bottom :6 px ;  
 }
}

@media only screen and (max-width: 600px) {
    .sidebar{
        top: 30px;
        flex: 0.3;
        border-radius: 6px;
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
        
    }

    .sidebar__avatar{
        margin-bottom: 6px;
    }

    .sidebar__top{
        padding-bottom: 6px;
    }

    .sidebar__top > img{
        margin-bottom: -10px;
        height: 40px;
    }

    .sidebar__stat{
        margin-top: 6px;
    }

    .sidebar__stat > p {
        font-size: 9px;
    }

    .sidebar__top > h4{
        font-size: 9px;
        padding: 6px;
    }

    .sidebar__top > h2{
        font-size: 12px;
    }

    .sidebar__stats{
        padding: 6px;
        margin-bottom: 6px;
    }

    .sidebar__statNumber {
       font-weight:bold; 
       color:#0a66c2 !important; 
       margin-left :40px
    }

    .sidebar__bottom{
       padding :6px; 
       border-radius :6px; 
       margin-top :6px; 
    }

    .sidebar__recentItem{
       font-size :9px; 
       padding :3px; 
       margin-bottom :3px; 
   } 

   .sidebar__hash{
       margin-right :6px; 
       margin-left :3px; 
   }

   .sidebar__bottom > p{
       font-size :9px; 
       padding-bottom :6px; 
   }
}
